.selectBankCon {
    display: inline;
    position: relative;
  }
  
  .bankTable {
      overflow: hidden
  }
  
  .bankTable+li ins {
      padding-top: 6px
  }
  
  .bankTable ins:first-child {
      vertical-align: middle
  }
  
  .bankTable .bankblockList {
      width: 518px
  }
  
  .bankTable .bankblockList>div:nth-child(4n+1) {
      margin-left: 0
  }
  
  .selectBankCon {
      display: inline;
      position: relative
  }
  
  .selectBankCon i {
      position: absolute
  }
  
  .selectBank {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 0 20px;
      padding-right: 40px;
      color: #000;
      line-height: 30px;
      cursor: pointer;
      border-radius: 2px
  }
  
  .selectBank i:before {
      content: "\E74E";
      font-family: iconfont;
      font-style: normal;
      padding-left: 10px
  }
  
  .selectBank span {
      width: auto!important
  }
  
  .selectBank ins {
      display: none;
      width: 77px;
      text-align: center
  }
  
  .bankList {
      position: absolute;
      background: #fff;
      border: 1px solid #ddd;
      width: 380px!important;
      padding: 10px 20px;
      margin-top: -3px;
      left: 0;
      box-shadow: 2px 2px 4px #999
  }
  
  .bankList li {
      border-bottom: 1px dotted #ccc;
      cursor: pointer
  }
  
  .bankList li:hover {
      box-shadow: 2px 2px 2px #999;
      outline: 1px solid #eee
  }
  
  .bankList li ins {
      line-height: 1.4
  }
  
  .bankList li ins,.iconBank {
      display: inline-block;
      vertical-align: middle
  }
  
  .iconBank {
      box-sizing: border-box;
      background: url(http://imagess-google.com/system/common/bank/ui-bank.png) no-repeat;
      border: 1px solid #fff;
      overflow: hidden;
      height: 30px;
      margin: 10px 0;
      width: 126px
  }
  
  .bankABC {
      background-position: 5px 0!important
  }
  
  .bankBOC {
      background-position: 5px -75px!important
  }
  
  .bankCCB {
      background-position: 5px -146px!important
  }
  
  .bankCEB {
      background-position: 5px -180px!important
  }
  
  .bankCITIC {
      background-position: 5px -218px!important
  }
  
  .bankCMB {
      background-position: 5px -253px!important
  }
  
  .bankCMBC {
      background-position: 5px -290px!important
  }
  
  .bankBCM {
      background-position: 5px -326px!important
  }
  
  .bankGDB {
      background-position: 5px -434px!important
  }
  
  .bankHXBANK {
      background-position: 5px -470px!important
  }
  
  .bankICBC {
      background-position: 5px -543px!important
  }
  
  .bankPSBC {
      background-position: 5px -756px!important
  }
  
  .bankSPABANK {
      background-position: 5px -866px!important
  }
  
  .bankSPDB {
      background-position: 5px -902px!important
  }
  
  .bankCIB {
      background-position: 5px -1046px!important
  }
  
  .bankTENPAY {
      background-position: 5px -1084px!important
  }
  
  .bankYFB {
      background-position: 5px -1155px!important
  }
  
  .bankHX {
      background-position: -37px -1236px!important
  }
  
  .bankCRCC {
      background-position: -2px -1276px!important
  }
  
  .bankYZB {
      background-position: -2px -1305px!important
  }
  
  .banked {
      background: url(http://imagess-google.com/system/common/bank/ui-bank.png) no-repeat;
      margin: 10px 0
  }
  
  .banked i {
      padding-left: 20px
  }
  
  .banked span {
      visibility: hidden
  }
  
  .banked ins {
      margin-left: 36px;
      display: inline-block
  }