@import '@/assets/minix/main.scss';
.viewBox {
  & .userRight {
    float: left;
    width: 840px;
    box-sizing: border-box;
    margin-left: 10px;
    & .userTitle {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      line-height: 32px;
      font-weight: 700;
      font-size: 14px;
      padding-left: 10px;
      color: #050505;
      background: #fbfbfb;
    }
    & .userMain {
      margin-bottom: 10px;
      border: 1px solid #ddd;
      min-height: 675px;
      background: #fff;
    }
  }
}

.resetForm,
.submitBtn {
  display: inline-block;
  line-height: 30px;
  color: #fff;
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 10px;
  min-width: 55px;
  text-align: center;
  cursor: pointer;
  background: #2e4158;
  margin: 10px 0;
}

ins {
  text-decoration: none;
}

.mg30 {
  margin: 30px;
}

.mg10 {
  margin: 10px;
}

.mgb10 {
  margin-bottom: 10px;
}

.mgt15 {
  margin-top: 15px !important;
}

.mglr30 {
  margin: 0 30px;
}
